<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        {:build_toolbar('refresh')}

                        <!-- 申请 -->
                        <a href="javascript:void(0)"
                            class="btn btn-success btn-apply btn-disabled disabled {:$auth->check('business/business/apply')?'':'hide'}"
                            title="{:__('Apply')}">
                            <i class="fa fa-hand-paper-o"></i> {:__('Apply')}
                        </a>
                   
                        <!-- 分配 -->
                        <a href="javascript:void(0);" class="btn btn-success btn-share btn-disabled disabled {:$auth->check('business/business/share') ? '':'hide'}">
                            <i class="fa fa-users"></i>  {:__('Share')}
                        </a>
                        <!-- 软删除 -->
                        {:build_toolbar('del')}
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                        data-operate-apply="{:$auth->check('business/business/apply')}" 
                        data-operate-share="{:$auth->check('business/business/share')}" 
                        data-operate-del="{:$auth->check('business/business/del')}" width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>