<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-code" data-rule="required" class="form-control" name="row[code]" type="text"
                value="{$order.code}" readonly>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Busid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-busid" class="form-control" name="row[busid]" type="text"
                value="{$order.business['nickname']}" readonly>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Expressid')}:</label>
        <div class="col-xs-12 col-sm-8">
            {$express}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Expresscode')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-expresscode" class="form-control" name="row[expresscode]" type="text"
                value="{$order.expresscode}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-amount" data-rule="required" min="0" class="form-control" name="row[amount]"
                type="number" value="{$order.amount}" readonly>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}</label>
        <div class="col-xs-12 col-sm-8">
            {$status}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-address" class="form-control" data-toggle="city-picker" name="row[address]" type="text"
                value="{$order.district}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Addressinfo')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-addressinfo" class="form-control" name="row[addressinfo]" type="text"
                value="{$order.addressinfo}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Adminid')}:</label>
        <div class="col-xs-12 col-sm-8">
            {$adminSell}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Checkmanid')}:</label>
        <div class="col-xs-12 col-sm-8">
            {$adminCheckMan}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shipmanid')}:</label>
        <div class="col-xs-12 col-sm-8">
            {$adminShipMan}
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-remark" class="form-control " rows="5" name="row[remark]"
                cols="50">{$order.remark}</textarea>
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>