<div class="panel panel-default panel-intro">

    <div class="panel-heading">
        {:build_heading(null,false)}
        <ul class="nav nav-tabs" data-field="status">
            <li class="{:$Think.get.status_text === null ? 'active' : ''}"><a href="#t-all" data-value=""
                    data-toggle="tab">{:__('All')}</a></li>
            {foreach name="statusList" item="vo"}
            <li class="{:$Think.get.status_text === (string)$key ? 'active' : ''}"><a href="#t-{$key}"
                    data-value="{$key}" data-toggle="tab">{$vo}</a></li>
            {/foreach}
        </ul>
    </div>

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">

            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        {:build_toolbar('refresh,add,edit,del')}

                        <a class="btn btn-success btn-recyclebin btn-dialog {:$auth->check('order/order/recyclebin')?'':'hide'}"
                            href="order/order/recyclebin" title="{:__('Recycle bin')}"><i class="fa fa-recycle"></i>
                            {:__('Recycle bin')}
                        </a>

                        <!-- <a class="btn btn-success btn-delivery .
                         {:$auth->check('order/order/delivery') ? '':'hide'}"
                            href="javascript:;">
                            <i class="fa fa-handshake-o"></i> {:__('Delivery')}
                        </a> -->

                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                        data-operate-edit="{:$auth->check('order/order/edit')}"
                        data-operate-del="{:$auth->check('order/order/del')}" width="100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>